:root {
   --bg-primary: #f0eed9;
   --bg-secondary: #3e553c;
   --primary: #292929;
   --secondary: #2e5e9c;
}

body {
   background-color: var(--bg-primary);
   color: var(--primary);
}

p {
   text-align: justify;
   text-justify: inter-word;
}

ul.dropdown-menu {
   background-color: var(--bg-primary);
}

nav.navbar {
   background-color: var(--bg-secondary);
}

.suggestions {
   font-size: 38pt;
}

h1 {
   color: var(--secondary);
}

h2 {
   color: var(--secondary);
   font-size: 20pt;
}

h4 {
   color: var(--secondary);
}

h5 {
   color: var(--secondary);
}