/* General */
:root {
   --bg-primary: #ffffff;
   --bg-secondary: #707070;
   --primary: #292929;
   --secondary: #338a22;
}

body {
   background-color: var(--bg-primary);
   color: var(--primary);
   font-family: 'Roboto', sans-serif;
}

.row {
   margin: 0;
}

.container {
   padding: 70px 0;
}

p {
   text-align: justify;
   text-justify: inter-word;
}

h1 {
   color: var(--secondary);
}

/* Navbar */

